.repository{
    transition: 1s all ease-out;
    margin-top: 1em;
	margin-bottom: 3em;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
    &.hidden {
        opacity: 0;
        transform: translateY(200%);
    }
    & .shields {
        transition: 1s all ease-in;
        transition-delay: .5s;

        &.visible{
           transform: scale(1);
        }

        &.hidden{
            transform: scale(0);
        }

        & .shield {
            margin: 5px;
		&:after { content: none; }
        }
    }
    & .title {
        transition: 1s all ease-out;

        &.visible{
           transform: translateY(0);
        }

        &.hidden{
            transform: translateY(300%);
        }
    }
    & .description {
        transition: 1.5s all ease-in;

       &.visible{
           transform: translateY(0);
        }

        &.hidden{
            transform: translateY(600%);
        }
    }

}
