@import url('https://fonts.googleapis.com/css?family=Bree+Serif'); /* neuton / pridi / Headland One */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bree Serif', sans-serif;
    font-size: 1.25em;
    background: #111;
    color: #dddccc;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #f6ff00;
}

h2 {
    font-size: 1.5em;
    margin-bottom: .25em;
    color: #f6ff00;
}

h3 {
    font-size: 1.25em;
    margin-bottom: .25em;
    color: #dddccc;
}

ul {
    list-style: none;
}

.page {
    max-width: 800px;
    margin: 0 auto;
}
.header {
    background: black;
    padding-bottom: 1em;

    & h2 {
        color: #dddccc;
    }
}

a {
    text-decoration: none;
    color: #fff568;
  position: relative;

    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px dashed #f6ff00;
    transition: 0.4s;
    transform: scaleX(0);
    width: 100%;
    }
}

a:hover {
    color: #f6ff00;

    &:after {
        transform: scaleX(1)
    }
}

.footer {
    background: black;
    height: 200px;
    z-index: 1;
}

.section {
    padding-bottom: 1em;
}

.small {
    font-size: 1em;
}
